<header>
       

      
       <div class="heading"> 
         <img class="heading-image" src="/public/images/headingImage/icons8-compact-camera-100.png" >
         <h1>Welcome to my Website </h1>
     </div>
    </header>