
    {{log this}}
    <div class="wrapper-container">
<div class="regform" >
    <div class="Regform_border">
<div class="title"<h2> Image Post Form</h2></div>
    <form action="/posts/create"
    method="post"
    enctype="multipart/form-data"
    class="input-form">
            
           <div class="form-control">
         
            <label for="title"> TITLE </label>
         <input type=" text" id="title" name="title">
         </div>
         <div class="form-control">
         <label for="description"> DESCRIPTION</label>
           <input type="text" id = "description" name="description">
           </div>
           <div class="form-control">
          <div class="item" <legend>Post the image:</legend></div>
           <label for="image"> </label>
           <input type="file" id="image" name="uploadImage">
           </div>
           
         <div class="disclaimer"  <legend>Please read and accept the <a href="">Policy for uploading Images</a>  before posting:</legend></div>
           <input class="check "type="checkbox">Accept</input>
           
           <br> </br>    
        

       <button class="form-submit-button" type="submit">submit</button>
    </form>
    </div>
</div>
</div>





